.favorite {
    background-color: lightblue;
}

.friends {
  width: 80%;
  margin-top: 20px;
  display: flex;
  align-content: space-around;
  justify-content: space-around;
}
div {
  text-align: center;
}
